body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(203, 255, 196, 0.671);
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 100px;
}

.about {
  background-color: aqua;
}